.card{
  width: 50%;
  background-color: #124164;
  height: 50%;
  color:red

}
.title{
  text-align: right
}
.image >img {
  width:150px;
  height:auto
}
.card-number{
  font-size: 3em;
  color:white;
  margin-top:-50px;

}
.card-date{
  font-size: 3em;
  color:white;
  text-align: right;
  margin-top:-50px;
}
.logo >img {
  width:200px;
  height: auto;
}
.foulen {
  font-size: 1.5em;
  color:white;
}
.form {
  width: 50%
}